*{
    margin: 0;
    padding: 0;
    
}
body{
    /* background-image: url(img/bg2.gif); */
    background-color: rgb(70, 67, 67);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%; 
}
ul,nav{
    display:flex;
    height: 65PX;
    /* background-color: rgba(255, 255, 255, 0.516); */
    background-color: rgb(70, 67, 67);
    /* background: transparent; */
    align-items: center;
    list-style-type: none;
    padding: 3px;
    color: rgb(0, 0, 0);
  
}
nav ul li{
    padding: 20px;
    margin: 16.8px;
}
.brand {
    display: flex;
    padding: 10px;

}
input{
    width: 750px;
    border: 1px solid grey;
    align-items: center;
    margin: 90px;
    border-radius: 50px;
    height: 40px;
    padding-left: 35px;

}
li{
    cursor: pointer;
   transition: 2s;
}
li:hover{
    background-color: rgba(164, 217, 238, 0.495);
    /* color: white; */
    /* border-width:3px; */
    transition: 1s;
    transform:skew(22px);
    border-radius: 36px;

}
.box{
    align-items: center;
    border-color:wheat;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 27PX;
    cursor: pointer;
transition: 1s;
filter: brightness(1);
}
H1{
    color: white;
    padding: 3PX;
    margin:4PX;
    transition: 4s;
    transform:translateZ(313px);
}
.box:hover{
    background-color:rgb(64, 64, 64);
    color:peru;
    transition: 1s;
    transform:scale(1.2);
    border-radius:100px ;
    /* border-color: white; */
border-width: 3px;
background: transparent;
/* border-style: solid; */
filter: brightness(1.5);
}
h2{
    font-size: smaller;
}
i{
    color: azure;
}

@media screen and (max-width:768px) {
    body{
        /* float: left; */
        width: 100%;
    }
}